{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to Movie Popularity Analyzer</h1>
    <p class="lead">A tool for analyzing Movie popularity based on live tweets from Twitter.</p>
    {% if session.logged_in == NULL %}
      <a href="/dashboard" class="btn btn-primary btn-lg">Dashboard</a>
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
